.page-section {
    margin: 150px auto 0 auto;

    &__inset {
        font-size: 18px;
        color: $tertiary;
        @include inset;
        @include bg-gradient-darkblue;
    }
}


/*reposive*/
/*mobile*/
@media #{$breakpoint-s} {
    .page-section {
        width: 100%;
        margin-top: 100px;

        &__inset {
            top: -41px;
            width: 80px;
            height: 80px;
        }

        &__title {
            font-size: 14px;
        }
    }
}