.App {
  text-align: center;
}

.section {
  & p {
    align-self: flex-end;
  }
}

/*reposive*/
/*mobile*/
@media #{$breakpoint-s} {
  .home-section {
      width: 100%;
      margin-top: 100px;

      &__inset {
          top: -41px;
          width: 80px;
          height: 80px;
      }

      &__title {
          font-size: 14px;
      }
  }
}