.welcome {
    margin-left: auto;
    margin-right: auto;
    color: $secondary;
    text-align: center;

    &__inset {
        @include inset;

        &__image {
            width: 110%;
        }
    }

    &__content {
        padding: 0 10px;

        &__title {
            margin-bottom: 20px;
        }
    }
}


/*responsive*/

/*mobile*/
@media #{$breakpoint-s} {
    .welcome {
        width: 100%;

        &__inset {
            top: -41px;
            width: 80px;
            height: 80px;
        }

        &__content {
            &__title {
                font-size: 16px;
            }
        }
    }
}