.slider {
    width: 100%;
    height: auto;
    padding: 30px 30px 50px 30px;
}

#swiper {
    height: 100%;
}

.sliderImg {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: $quaternary;
}

.swiper-button-prev {
    margin-left: 10px;
}

.swiper-button-next {
    margin-right: 10px;
}

.swiper-pagination-bullet-active {
    background: $quaternary;
}